<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Nunito:wght@200&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link href="static/css/profile.css" rel="stylesheet" />
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
    <body class="sb-nav-fixed">

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="">View Profile</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Home
                            </a>
                            <a class="nav-link" href="/profile">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                My Profile
                            </a>
                            <a class="nav-link" href="/wishlist">
                                <div class="sb-nav-link-icon"><i class="fas fa-heart"></i></div>
                                My Wishlist
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ account.get_title() }}. {{ account.get_first_name() }} {{ account.get_last_name() }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Your Wishlist</h1>
                        {% if 'wish_removed' in session %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            {{ session.pop('wish_removed') }}
                        </div>
                        {% endif %}
                        <div class="row">
                            {% if wishes == [] %}
                            <p class="mt-4">- Your wishlist is currently empty <i class="bi bi-emoji-frown"></i> -</p>
                            {% else %}
                            {% for a,b,c,d,e,f,g,h,i in wishes %}
                            <div class="col-md-3 mt-4">
                                    <div class="card h-100 wishlist-card">
                                        <div class="text-center"><img src="static/images/{{ f }}" width="225" height="140"></div>
                                        <br>
                                        <div class="about text-center" style="margin-bottom:15px;">
                                            <h5>{{ a }}</h5><span>S${{ d }}</span>
                                        </div>
                                        <div class="cart-button mt-auto px-2 d-flex justify-content-center align-self-center" style="margin-bottom:15px;">
                                            <a type="button" class="btn btn-outline-danger" href="/removewishlist/{{ loop.index0 }}">
                                              REMOVE FROM WISHLIST
                                            </a>
                                        </div>
                                    </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Biazy's Auto 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/profile.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
    <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d5355ef0abf493b',m:'VSKurkjXVXnU5eYIPglAFDTmHTJHBUvP.VkadDicrZQ-1643468484-0-AWP+yYSeHFM5gvumuMFU6h0qoykCGYCIzPAfYd9xMvwJtOgxIrGe7E8twh/6RMiy3N8EZr7U30xgQche6JqTxvQrq31MrbGuOUse7PSTJ0fnKdqrqIVs8+WSO44etHwyhgj3DtuYR9cz4Ak1dRjCFSrXWTF7Yhlyxpye6Hon8oa8Hpg9rPct43U0jyPnEIpkBA==',s:[0x30e7da167d,0x06c472a3ca],}})();</script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d5362272e3d6c63',m:'3KzVOT8m6npei71MyLX3q3pHOrM471UaAFEIEIrh_9E-1643468985-0-AUmNtlXXFNF8v2XPgRDbloILyqpsVjjSXF5U3UC636qoLTpT6GfniBXtO9fsgqiVQaRmd2IKGqzwYxjtHG3V6ZxHKGEZ5dQfkL1tY7Bx9K2P+IWHpMVK2Fj2fBbIEnIRPyJD2EuOuaknYQf1TZ8bbX/ic/1IxQ5af522oNpUYrd6ly/Bk06MFX5k2MRko3/grg==',s:[0xd1379061d2,0x3680163e46],}})();</script></body>
</html>

